<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.max314.an21utools" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- for write logs -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- for auto run -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_terminal"
        android:label="@string/app_name"
        android:theme="@style/Theme.U21tools" >
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".AboutActivity" />-->
        <activity android:name=".SelectApplicationActivity" />
        <activity android:name=".GpsAlertDialog" android:theme="@style/GPSTheme"/>

        <!-- <service android:name=".BackgroudService" /> -->

        <receiver android:name=".BROnBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ControlService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".AutoRunListActivity"
            android:label="Список приложений автозапуска" >
        </activity>
    </application>

</manifest>
